<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html xmlns:th="http://www.thymeleaf.org"
      style="background-image:url(http://uptownalmanac.com/sites/default/files/images-on-cdn/bart_train.jpg);
        background-size:cover;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        background-repeat:no-repeat;
        background-position:center center;
        color:white;
        text-shadow: 2px 2px 0px #000000;
        font-family:Verdana">
<head>
    <script src="/resources/jquery-3.1.0.min.js"></script>
    <script>
        $(document).ready(function() {

            var previousStation = '';

            function getEstimates() {
                // Need the abreviation
                var stationSelected = $('#stationSelection').val();
                if ( !stationSelected) { // empty or null
                    return;
                }
                if ( stationSelected === previousStation) {
                    return;
                }
                var allStations = $('#stations');
                var stationSelectedOption = $(allStations).find('option[value="' + stationSelected + '"]');
                var stationAbbreviation = stationSelectedOption.attr('data-value');
                if ( stationAbbreviation) {
                    console.log("Getting estimates for station " + stationSelected + " with abbreviation " + stationAbbreviation + " selected");
                    previousStation = stationSelected;
                    // call the API
                    var estimationApi = "/estimates?station=" + stationAbbreviation;
                    $("#bart_estimates").load(estimationApi); // using fragments - load the html directly
                }
            }

//            $('#stationSubmitButton').click(function () {
//                getEstimates();
//            });

            $('#stationSelection').keydown(function(event){
                var keyCode = (event.keyCode ? event.keyCode : event.which);
                if (keyCode == 13) { // Enter key
                    getEstimates();
                }
            });

            $('#stations').bind('input', getEstimates);
            $('#stationSelection').bind('input', getEstimates);
//            $('#stationSelection').bind('click', getEstimates());

        });
    </script>
</head>

<body style="background-color:rgba(0, 0, 0, 0.48); margin-top: -15px; margin-left: 0px; margin-right: 0px; margin-bottom: -14px; height: 100%">
    <div style=" text-align: center; ">
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h2 style="text-align: center;"><strong>O Bart, where art thou?</strong></h2>

        <!--<label>Enter the origin station:</label>-->
        <input style="font-size: 20px; height: 25px" type="text" placeholder="Enter or select a station" list="stations" id="stationSelection"/>
        <!--<button style="margin-left: 10px; font-size: 20px; font-weight: bold" type="submit" id="stationSubmitButton">Go</button>-->

        <datalist id="stations">
            <option style="font-size: 10px" th:each="station : ${all_stations}" th:data-value="${station.abbreviation}" th:value="${station.stationName}"/>
        </datalist>

        <div id="bart_estimates" th:include="bart_estimates :: estimates">
        </div>
    </div>
</body>

</html>